/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(246, 246, 246);
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}
input, button {
    padding: 0;
}

* {
    border: 1px solid red;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    margin-top: 10%;
    width:40em;
    min-height: 30em;
}

.display {
}

.output-display {
    width: 100%;
    display: flex;
    justify-content: center;
}

.display > output {
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.buttons {
    width: fit-content;
    display: flex;
    width: 100%;
}

.calc-buttons {
    display: grid;
    grid-template-columns: 6em 6em 6em;
    grid-template-rows: auto;
}

.calc-functions {
    display: grid;
    grid-template-rows: repeat();
    grid-template-columns: 6em;
    grid-template-rows: auto;
}

.calc-button {

}

.calc-button:hover {
    background-color: lightgray;
}