/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

* {
    margin: 0;
}

html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(246, 246, 246);
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}
input, button {
    padding: 0;
}

* {
    /* border: 1px solid red; */
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    margin: 5% 0;
    width:35em;
    min-height: 30em;
    background-color: burlywood;
}

h1 {
    text-align: center;
}

.display {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: .5em 0;
}

.output-display {
    min-width: 24em;
    background-color: lightgrey;
    display: flex;
    justify-content: right;
}

.output-display > output {
    text-align: right;
    min-width: 10em;
    margin: .5em;
    font-size: larger;
}

.inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: larger;
    justify-content: center;
    margin-bottom: 1em;
}

.buttons {
    width: fit-content;
    display: flex;
    width: 100%;
}

.calc-buttons {
    display: grid;
    grid-template-columns: 5em 5em 5em;
    grid-template-rows: 6.5em 6.5em 6.5em 6.5em;
    border-right: 0;
}

.calc-functions {
    border-left: 0;
    margin:0;
    display: grid;
    grid-template-columns: 5em;
    grid-template-rows: auto;
}

.calc-button {

}

.calc-button:hover {
    background-color: lightgray;
}